:root {
    --header-footer-background-color: hsl(0, 0%, 13%);
    --header-footer-text-color: hsl(0, 0%, 100%);
    --input-color: hsl(0, 0%, 7%);
    --input-border-color: hsl(0, 0%, 18.82%);
    --input-hover-color: hsl(208, 100%, 62%);
    --input-text-color: hsl(0, 0%, 100%);
    --btn-search-background-color: hsla(0, 0%, 100%, 0.08);
    --btn-search-color: hsl(0, 0%, 100%);
    --btn-login-background-color:hsl(354, 93%, 37%);
    --btn-login-text-color: hsl(0, 0%, 100%);
    --link-footer-color:hsl(354, 93%, 37%);
    --social-media-background:hsl(354, 93%, 37%);
    --social-media-text:hsl(0, 0%, 100%);
    --copyright-border-top-color: hsl(212, 23%, 33%);
    --copyright-text-color: hsl(211, 17%, 72%);
    --link-footer-hover-color: hsl(354, 91%, 22%);
    --lateral-menu-background-color:  hsl(0, 0%, 9%);
    --lateral-menu-text-color: hsl(0, 0%, 100%);
    --lateral-menu-title-color: hsl(0, 0%, 67%);
    --lateral-menu-border-color:hsl(0, 0%, 67%);
    --link-menu-icon-color:hsl(0, 0%, 100%);
    --link-menu-text-color: hsl(354, 93%, 37%);
    --link-menu-hover: hsl(0deg 0% 22%);
    --box-shadow-color: hsl(0deg 100% 51%);
    --main-page-text-color: hsl(0, 0%, 100%);
    --main-title-h1-color:hsl(0, 0%, 100%);
    --new-anime-color-info: hsl(125deg 71% 32%);
    --anime-info-color:hsl(0, 0%, 100%);
    --border-color-pagination: hsl(0, 0%, 100%);
    --pagination-color-text:hsl(0, 0%, 100%);
    --pagination-color-hover:hsl(354, 91%, 22%);
    --window-box-color: hsl(0, 0%, 0%);
    --window-box-border-color: hsl(0, 0%, 100%);
    --window-box-text-color:hsl(0, 0%, 100%);
    --window-input-color:hsl(0, 0%, 100%);
    --window-input-color-focus: hsl(354, 91%, 22%);
    --size-guide-icon: 25px;
    --social-media-size: 35px;
}

html, body {
    background: url("../images/bg.jpg") #fff;
    font-family: open sans,sans-serif;
    scroll-behavior: smooth;
}

.btn {
    outline: none;
    user-select: none;
    border:none;
}

.btn:hover {
    filter:brightness(1.2);
    cursor:pointer;
}

.selectable:hover {
    filter:brightness(1.4);
    transform: scale(1.08);
    cursor:pointer;
}

.header-page {
    position: sticky;
    top:0;
    width: 100%;
    height: 70px;
    z-index:1;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between ;
    background-color: var(--header-footer-background-color);
    color: var(--header-footer-text-color);
}

.left-header {
    display:flex;
    align-items: center;
    margin: 0 3vw;
}

.guide-icon {
    width: var(--size-guide-icon);
    height: var(--size-guide-icon);
    margin-right:30px;
    background-image: url('/images/icon-menu.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.search-input {
    width: 25vw;
    height: 35px;
    background-color:var(--input-color);
    border: 1px solid var(--input-border-color);
    color: var(--input-text-color);
    font-size:1.1em;
    padding: 2px 12px;
    float: left;
}

.search-input:focus {
    outline: none;
    border: 1px solid var(--input-hover-color);
}

.search-btn {
    width: 60px;
    height: 40px;
    background-color: var(--btn-search-background-color);
    color: var(--btn-search-color);
    font-size:1.2em;
}

.header-nav {
    margin-right: 80px;
    align-items: center;
}

.header-nav li {
    display: inline;
    margin-left: 3vw;
    font-size:1.2em;
}

.login-btn {
    width: 180px;
    height: 45px;
    border-radius: 12px;
    background-color: var(--btn-login-background-color);
    color: var(--btn-login-text-color);
    font-weight: 800;
    font-size:0.75em;
}

.login-btn i {
    padding-right: 12px;
}

.main-page {
    display: flex;
    flex-direction: row;
    color: var(--main-page-text-color);
}

.title-page {
    padding:12px 0;
    font-size: 1.3em;
    font-weight: 300;
    color: var(--main-title-h1-color);
}

.lateral-menu {
    width: 20%;
    padding-top:21px;
    background-color:var(--lateral-menu-background-color);
    color: var(--lateral-menu-text-color);
    -webkit-box-shadow: 0 0 19px 10px var(--box-shadow-color),0 0 3px 2px var(--box-shadow-color);
    box-shadow: 0 0 19px 10px var(--box-shadow-color),0 0 3px 2px var(--box-shadow-color);
}

.lateral-menu a {
    display:block;
    padding: 15px 30px;
    text-decoration: none;
    color: var(--link-menu-text-color);
    font-size:0.9em;
    font-weight: 400;
}

.lateral-menu a:hover {
    background-color: var(--link-menu-hover);
}

.menu-icon {
    margin-right: 12px;
    font-size:1.1em;
    color: var(--link-menu-icon-color);
}

.section-menu {
    margin-bottom:12px;
    margin-right:10px;
    padding-bottom:12px;
    border-bottom: 1px solid var(--lateral-menu-border-color);
}

.section-menu:last-child {
    border-bottom:none;
}

.section-menu h3 {
    display: block;
    padding:12px;
    text-align: center;
    text-transform:uppercase;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size:0.9em;
    color: var(--lateral-menu-title-color);
}

.principal-section {
    width:90%;
    padding: 4vh 8vw;
}

.footer-page {
    position: absolute;
    left:0;
    width: 100%;
    background-color:var(--header-footer-background-color);
    color: var(--header-footer-text-color);
}

.center-footer a:hover {
    color: var(--link-footer-hover-color);
}

.footer-information {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.center-footer {
    display: flex;
    flex-direction: row;
}

.link-footer {
    margin:0 5vw;
}

.center-footer li {
    margin-top:10px;
}

.center-footer h1 {
    font-size:1.2em;
    font-weight: 800;
    margin-bottom:12px;
}

.center-footer a {
    text-decoration: none;
    font-size:0.8em;
    color: var(--link-footer-color);
}

.right-footer, .left-footer {
    margin: 0 5vw;
}

.social-medias {
    margin-top:12px;
}

.social-medias li {
    padding-bottom:15px;
}

.social-medias a {
    display:block;
    width: var(--social-media-size);
    height: var(--social-media-size);
    line-height: var(--social-media-size);
    background-color: var(--social-media-background);
    color: var(--social-media-text);
    border-radius:20px;
    font-size:1.2em;
    text-align: center;
}

.copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    border-top: 1px solid var(--copyright-border-top-color);
    color: var(--copyright-text-color);
    text-align: center;
    font-size:0.7em;
}

.copyright a {
    text-decoration: none;
    color: var(--copyright-text-color);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in; 
    -o-transition: all 0.3s ease-in;  
    transition: all 0.3s ease-in;
}

.copyright a:hover {
    color: var(--link-footer-hover-color);
}

.anime-list {
    display:flex;
    flex-flow: row wrap;
}

.list-anime-option:hover {
    transition: 0.2s ease;
    transform: scale(1.08);
    opacity: 0.7;
}

.list-anime-option:not(:hover) {
    transition: 0.2s ease;
    transform: scale(1);
}

.anime-list img {
    height: 230px;
    border-radius:5px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 0%, 100% 80%, 80% 100%, 0% 100%, 0% 86%, 0% 20%);
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0%, 100% 80%, 80% 100%, 0% 100%, 0% 86%, 0% 20%);
}

.list-anime-option {
    margin:18px 12px;
}

.list-anime-option a {
    color:var(--anime-info-color);
    text-decoration: none;
}

.new-anime-info {
    position: absolute;
    right: 0;
    margin: 5px 12px;
    padding: 0 12px;
    z-index:1;
    background-color: var(--new-anime-color-info);
    border-radius: 32px;
    line-height: 16px;
    font-size: 0.8em;
    font-weight: 600;
}

.anime-info {
    position: relative;
    bottom:25px;
    margin-left:12px;
    font-family: open sans,sans-serif;
    font-size:0.8em;
    font-weight:800;
}

.pagination {
    text-align: center;
}

.pagination a {
    display:inline-block;
    min-width: 38px;
    height: 38px;
    margin: 0 3px 6px;
    text-decoration: none;
    border: 2px solid var(--border-color-pagination);
    border-radius: 38px;
    font-size:1em;
    font-weight: 800;
    color: var(--pagination-color-text);
    line-height: 38px;
    letter-spacing: 0.03em;
}

.pagination a:hover {
    background-color: var(--pagination-color-hover);
    -webkit-transition: background 250ms;
    -moz-transition: background 250ms; 
    -o-transition: background 250ms;  
    transition: background 250ms;
}

.deplegable-window {
    display: none;
    align-items: center;
    justify-content: center;
    position:fixed;
    width: 100%;
    height: 100%;
    z-index:5500;
    background-color:rgba(0, 0, 0, 0.8);
}

.window-box {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding:30px;
    border: 3px solid var(--window-box-border-color);
    background-color:var(--window-box-color);
    color:var(--window-box-text-color);
}

.window-box label {
    margin-bottom:32px;
    font-size:0.8em;
    font-weight: 600;
    text-transform: uppercase;
}

.window-box input {
    display: block;
    outline: none;
    border:none;
    width: 100%;
    height:25px;
    margin-top:12px;
    margin-bottom:21px;
    padding-left: 8px;
    background: none;
    border-bottom: 2px solid var(--window-input-color);
    color: var(--window-input-color);
    font-size:1.2em;
}

.window-box input:focus {
    border-bottom: 2px solid var(--window-input-color-focus);
}

.window-btn {
    width: 100%;
    height: 45px;
    margin-top:12px;
    border-radius: 12px;
    background-color: var(--btn-login-background-color);
    color: var(--btn-login-text-color);
    font-weight: 800;
    font-size:1em;
}

.window-box a {
    text-decoration: none;
    color: var(--link-footer-color);
}

.window-box a:hover {
    color: var(--link-footer-hover-color);
}

.window-box h3  {
    margin-bottom:21px;
    text-align: center;
    font-size:1.8em;
}

.login-form {
    width: 20vw;
    min-width: 250px;
}

.remember-password {
    display: block;
    text-align: right;
    font-size: 0.8em;
}

.register-info {
    padding-top:12px;
    text-align: center;
    font-size:0.8em;
}

@media (max-width: 1300px) {

    .lateral-menu {
        width: 100px;
    }

    .lateral-menu a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size:0.8em;
        text-align: center;
        padding: 15px 25px;
    }

    .section-menu h3 {
        font-size:0.7em;
    }

    .menu-icon {
        display: inline;
        margin-bottom:12px;
        margin-left:8px;
        font-size:2em;
    }

    .lateral-menu a > span {
        width: 100%;
    }
}

@media (max-width: 650px) {
    body {
        overflow-x: hidden;
    }

    .search-input {
        display: none;
    }

    .login-btn {
        width:50px;
        height:50px;
        padding-left: 18px;
    }

    .login-text {
        display:none;
    }

    .lateral-menu {
        display:none;
    }

    .anime-list {
        justify-content: center;
    }

    .footer-information {
        flex-direction: column;
    }

    .center-footer {
        flex-direction: column;
    }

    .social-medias li {
        display: inline-block;
        margin-left:8px;
    }

    .link-footer {
        margin:5px 0;
    }

    .right-footer, .left-footer {
        margin: 15px 0;
    }

    .copyright {
        flex-direction: column;
        font-size:0.8em;
    }
    
    .right-copyright {
        margin-top:12px;
    }
  }